<template>
  <div :class="{ container: active }">
    class对象语法
    <div :class="[{ sub1: active }]">
      class数组语法
    </div>
    <div :style="styleObject">
      style对象语法
    </div>
    <div :style="[styleObject]">
      style数组语法
    </div>
    <div :style="{display: flexLayout}">
      style多重值
    </div>
  </div>
</template>

<script>

export default {
  data() {
    return {
      active: true,
      activeClass: 'sub1',
      styleObject: {
        color: 'green',
        fontsize: '13px',
      },
      flexLayout: [
        '-webkit-box',
        '-ms-flexbox',
        'flex',
      ],
    };
  },
};
</script>

<style lang="scss" scoped>
.container {
  color: red;
}

.sub1 {
  color: orange;
}
</style>
