<template>
  <div>
    <p>Full name: "{{ fullName }}"</p>
  </div>
</template>

<script>
export default {
  name: 'CompuntedAttr',
  data() {
    return {
      firstName: 'Foo',
      lastName: 'Bar',
    };
  },
  computed: {
    fullName: {
      get() {
        return `${this.firstName} ${this.lastName}`;
      },
      set(newValue) {
        const names = newValue.split(' ');
        this.firstName = names[0];
        this.lastName = names[names.length - 1];
      },
    },
  },
  created() {
    this.fullName = 'Miko Jhon';
  },
};
</script>
