<template v-if="no">
  <div>
    <h1 v-if="ok">Yes</h1>
    <h1 v-else>No</h1>
    <div v-if="type === 'A'">A</div>
    <div v-else-if="type === 'B'">B</div>
    <div v-else>C</div>
    <div v-show="no">v-show</div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      ok: true,
      no: false,
      type: 'Z',
    };
  },
};
</script>
