<!--
Description
@authors Your Name (you@example.org)
@date    2017-10-10 16:13:55
@version 1.0.0
-->
<template>
  <div>
    Hello, World!
  </div>
</template>

<script>
  export default {}
</script>

<style lang="css">
  
</style>
