<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <h2>Essential Links</h2>
    <button @click="reverseMessage" :id="'list-' + id">逆转消息</button>
    <div :class="{ 'fontRed': isActive }">{{ reMessage }}</div>
    <div :style="{ display: ['-webkit-box', '-ms-flexbox', 'flex'] }">
      <ul>
        <li v-for="(value, key, index) in items" :key="key" v-if="!value.complete">
          {{ value.message }}
        </li>
      </ul>
    </div>
    <div>{{ msg }}</div>
    <div v-if="type === 'A'">
      A
    </div>
    <div v-if="type === 'B'">
      B
    </div>
    <div v-if="type === 'C'">
      C
    </div>
    <div v-else>
      Not A/B/C
    </div>
    <div>
      <input type="checkbox" id="jack" value="Jack" v-model="checkedNames" />
      <label for="jack">Jack</label>
      <input type="checkbox" id="mike" value="Mike" v-model="checkedNames" />
      <label for="mike">Mike</label>d
      <input type="checkbox" id="lufu" value="Lufu" v-model="checkedNames" />
      <label for="lufu">Lufu</label>
      <br>
      <span>Checked names: {{ checkedNames }}</span>
    </div>
    <my-component :message="msg" :number="11" />
    <slot-view>
      <p>这是一些初始内容</p>
      <p>这是更多的初始内容</p>
    </slot-view>
  </div>
</template>

<script>
import SlotView from '@/components/SlotView';

const Child = {
  // 属性验证
  props: {
    message: {
      type: String,
      required: true,
    },
    // 自定义验证规则
    number: {
      validator: value => (
        value > 10
      ),
    },
  },
  template: '<div>{{ message+number }}<slot></slot></div>',
};
export default {
  name: 'hello',
  data() {
    return {
      msg: 'Welcome to Your Vue.js App',
      id: 1,
      isActive: true,
      type: 'C',
      items: [
        { message: 'Foo', complete: false },
        { message: 'Bar', complete: true },
        { message: 'Apc', complete: false },
      ],
      checkedNames: [],
    };
  },
  methods: {
    reverseMessage() {
      this.msg = this.msg.split('').reverse().join('');
    },
  },
  // 计算函数
  computed: {
    reMessage() {
      return this.msg.split('').reverse().join('');
    },
    filterItems() {
      const itemExample = this.items.filter(item => item.message.match(/Foo/));
      return itemExample;
    },
  },
  // 子组件
  components: {
    'my-component': Child,
    'slot-view': SlotView,
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
$maincolor: red;
h1,
h2,
h3 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}

.fontRed {
  color: $maincolor;
}
</style>
