<template>
  <div>
    <p>{{ total }}</p>
    <button-counter @increment="incrementTotal"></button-counter>
    <button-counter @increment="incrementTotal"></button-counter>
  </div>
</template>

<script>
const buttonCounter = {
  template: '<button @click="incrementCounter">{{ counter }}</button>',
  data() {
    return {
      counter: 0,
    };
  },
  methods: {
    incrementCounter() {
      this.counter += 1;
      this.$emit('increment');
    },
  },
};
export default {
  data() {
    return {
      total: 0,
    };
  },
  methods: {
    incrementTotal() {
      this.total += 1;
    },
  },
  components: {
    'button-counter': buttonCounter,
  },
};
</script>

