<template>
  <div>
    <h1>VUE生命周期</h1>
  </div>
</template>

<script>
export default {
  beforeCreate() {
    console.log('在实例初始化之后，数据观测 (data observer) 和 event/watcher 事件配置之前被调用。');
  },
  created() {
    console.log('挂在阶段还没开始，$el属性不可见');
  },
  beforeMount() {
    console.log('在挂载开始之前被调用：相关的 render 函数首次被调用');
  },
  mounted() {

  },
  beforeUpdate() {
    console.log(`数据更新时调用，发生在虚拟 DOM 重新渲染和打补丁之前。
    你可以在这个钩子中进一步地更改状态，这不会触发附加的重渲染过程。`);
  },
  updated() {},
  activated() {
    console.log('keep-alive 组件激活时调用。');
  },
  deactivated() {
    console.log('keep-alive 组件停用时调用。');
  },
  beforeDestroy() {
    console.log('实例销毁之前调用。在这一步，实例仍然完全可用。');
  },
  destroyed() {
    console.log('Vue 实例销毁后调用。调用后，Vue 实例指示的所有东西都会解绑定，所有的事件监听器会被移除，所有的子实例也会被销毁。');
  },
};
</script>
