<!--
Description
@authors Your Name (you@example.org)
@date    2017-10-10 11:14:56
@version 1.0.0
-->
<template>
  <div>
    <ul :style="{color:'red'}">
      <li v-for="(value, index) in items" :key="index">
        {{ value.message }}
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  data() {
    return {
      items: [
        { message: 'Foo' },
        { message: 'Bar' },
      ],
    };
  },
};
</script>

