<template>
  <div>
    <transition name="fade">
      <h1 v-if="show">测试slot插槽的作用</h1>
    </transition>
    <slot>
      只又在没有分发的呢日哦那个时才会显示
    </slot>
    <button @click="showToggle">toggle</button>
  </div>
</template>

<script>
export default {
  data() {
    return {
      show: true,
    };
  },
  methods: {
    showToggle() {
      this.show = !this.show;
    },
  },
};
</script>

<style lang="scss" scoped>

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in below version 2.1.8 */ {
  opacity: 0
}

</style>


